*{
    font-family: Candara;
    font-weight: 400;
  }

/* Sidebar */
#side_nav{
    background: #060D15;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}

.content{
    background: #eee;
    min-height: 100vh;
    width: 100%;
}

.sidebar li a, .sidebar li a:hover{
    color: #3EFFBE;
    transition: 1s;
} 

.sidebar li a {
    color: #FFF;
}

.logo-profile {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 2px solid #FFF;
    margin: 20px 45px;
}

.icons{
    display: flex;
    justify-content: space-around;  
}

.bi-x-square{
    margin-left: 200px;
}

.bi-github, .bi-instagram, .bi-linkedin, .bi-discord{
    font-size: 30px;
}

/* NAVBAR Expand */
.navbar.navbar-expand-lg.navbar-light.bg-light{
    padding: 0;
}

.container-fluid{
    background-color: #060D15;
    
}

a.navbar-brand.fs-4{
    color: #FFF;
}

.bi-list::before{
    color: #FFF;
}
/* End NAVBAR Expand */

/* End Sidebar */


/* ----------About Me---------- */
/* .imgAbout {
    background-color: red;
} */

.imgAbout img {
    margin-top: 60px;
    margin-left: 10px;
    border-radius: 10px;
}

.about-text {
    margin-top: 20px;
}

.titleAboutMe {
    margin-top: 20px;
    margin-left: 8px;
}

.pOne, .pTwo, .pThree, .pFour {
    margin-top: -10px;
    margin-left: 5px;
    margin-right: 18px;
    margin-bottom: 10px;
    text-align: justify;
}

.title-habilities {
    background-color: #060D15;
    height: 36px;
    width: auto;
    margin-top: 20px;
}

.title-habilities h6 {
    font-size: 20px;
    color: #FFF;
    text-align: center;
    margin-top: 8px;
}

.logos1{
    margin-top: 14px;
}

.logos2{
    margin-top: -18px;
}

.logo1, .logo2, .logo3, .logo4, .logo5, .logo6, .logo7, .logo8 {
    border: 1px solid #1C1C1C;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    margin: 14px;
    list-style-type: none;
}

.description-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-logo p {
    text-align: center;
}
/* -----End about me----- */

@media(max-width:767px){
    #side_nav{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active{
        margin-left: 0;
    }
}
