*{
    font-family: Candara;
    font-weight: 400;
  }

/* Sidebar */
#side_nav{
    background: #060D15;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    /* transition: all 0.3s; */
    position: sticky;
    top: 0;
}

.content{
    background: #eee;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
} 

.logo-profile {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 2px solid #FFF;
    margin: 20px 45px;
}

h1::after{
    content: '|';
    color: #FFF;
    opacity: 1;
    animation: flashing 1s infinite;   
}

@keyframes flashing{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}



.sidebar li a, .sidebar li a:hover{
    color: #3EFFBE;
    transition: 1s;
}

.sidebar li a {
    color: #FFF;
}

.icons{
    display: flex;
    justify-content: space-around;  
}

.bi-x-square{
    margin-left: 200px;
}

.bi-github, .bi-instagram, .bi-linkedin, .bi-discord{
    font-size: 30px;
}

/* NAVBAR Expand */
.navbar.navbar-expand-lg.navbar-light.bg-light{
    padding: 0;
}

.container-fluid{
    background-color: #060D15;
    
}

a.navbar-brand.fs-4{
    color: #FFF;
}

.bi-list::before{
    color: #FFF;
}
/* End NAVBAR Expand */

/* End Sidebar */


/* ----------About Me---------- */
.imgAbout{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

.imgAbout img {
    border-radius: 10px;
    padding: 2px;
    /* object-fit: cover; */
    object-fit: contain;
    object-position: center;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
}

.about-text {
    margin-top: 20px;
}

.titleAboutMe {
    font-size: 22px;
    margin-top: 20px;
    margin-left: 8px;
}

.pOne, .pTwo, .pThree, .pFour {
    margin-top: -10px;
    margin-left: 5px;
    margin-right: 18px;
    margin-bottom: 10px;
    text-align: justify;
}

.title-habilities {
    background-color: #060D15;
    height: 36px;
    width: auto;
    margin-top: 20px;
}

.title-habilities h6 {
    font-size: 20px;
    color: #FFF;
    text-align: center;
    margin-top: 8px;
}

.logo-group{
    margin-left: -14px;
}

.logo1, .logo2, .logo3, .logo4, .logo5, .logo6, .logo7, .logo8 {
    border: 1px solid #1C1C1C;
    border-radius: 10px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
}

/* container = container-logo */
/* box = logo */

/* -----End about me----- */

/*Responsive Design Sidebar */ 
@media(max-width:767px){
    #side_nav{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active{
        margin-left: 0;
    }
}
