*{
    font-family: Candara;
    font-weight: 400;
  }

/* Sidebar */
#side_nav{
    background: #060D15;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}

.content{
    background: #eee;
    min-height: 100vh;
    width: 100%;
}

.sidebar li a, .sidebar li a:hover{
    color: #3EFFBE;
    transition: 1s;
} 

.sidebar li a {
    color: #FFF;
}

.logo-profile {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 2px solid #FFF;
    margin: 20px 45px;
}

.icons{
    display: flex;
    justify-content: space-around;  
}

.bi-x-square{
    margin-left: 200px;
}

.bi-github, .bi-instagram, .bi-linkedin, .bi-discord{
    font-size: 30px;
}

/* NAVBAR Expand */
.navbar.navbar-expand-lg.navbar-light.bg-light{
    padding: 0;
}

.container-fluid{
    background-color: #060D15;
    
}

a.navbar-brand.fs-4{
    color: #FFF;
}

.bi-list::before{
    color: #FFF;
}
/* End NAVBAR Expand */

/* End Sidebar */

/*Content home*/

#session-welcome h3 {
    margin-top: 30px;
    font-size: 22px;
    text-align: center;
}

#session-welcome h5 {
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
    font-size: 16px;
}

.banner img {
    border-radius:10px;
    height: 300px;
    width: 90%;
    margin-top: 30px;
}

.about-text {
    margin-right: 10px;
    margin-left: 50px;
    text-align: justify;
    font-size: 14px;
} 

/*Session Deposition*/

.title-deposition {
    background-color: #060D15;
    height: 36px;
    width: auto;
}

.title-deposition h6 {
    font-size: 20px;
    color: #FFF;
    text-align: center;
    margin-top: 8px;
}

.card-deposition {
    justify-content: space-around;
    margin-top: 20px;
}

.deposition {
    border: 1px solid #060D15;
    border-radius: 10px;
    text-align: justify;
    padding: 10px;
    margin-bottom: 10px;
}

.item-deposition {
    display: flex;
    justify-content: space-between;
}

.titleDepoiment {
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}

.item-deposition img {
    margin-top: -5px;
    margin-right: 5px;
    border-radius: 50%;
}

.depoiment {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 0px;
}

/*Footer*/

.logo-whatsApp {
    position: fixed;
    right: 40px;
    bottom: 10px;
}

.bi-whatsapp {
    color: green;
    font-size: 30px;
}

.line {
    width: 94%;
    margin: 10px
}

footer p {
    font-size: 14px;
    text-align: center;
}
/* End Footer */


@media(max-width:767px){
    #side_nav{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active{
        margin-left: 0;
    }
}