*{
    font-family: Candara;
    font-weight: 400;
  }

/* Sidebar */
#side_nav{
    background: #060D15;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    /* transition: all 0.3s; */
    position: sticky;
    top: 0;
}

.content{
    background: #eee;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
} 

.logo-profile {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 2px solid #FFF;
    margin: 20px 45px;
}

h1::after{
    content: '|';
    color: #FFF;
    opacity: 1;
    animation: flashing 1s infinite;   
}

@keyframes flashing{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}



.sidebar li a, .sidebar li a:hover{
    color: #3EFFBE;
    transition: 1s;
}

.sidebar li a {
    color: #FFF;
}

.icons{
    display: flex;
    justify-content: space-around;  
}

.bi-x-square{
    margin-left: 200px;
}

.bi-github, .bi-instagram, .bi-linkedin, .bi-discord{
    font-size: 30px;
}

/* NAVBAR Expand */
.navbar.navbar-expand-lg.navbar-light.bg-light{
    padding: 0;
}

.container-fluid{
    background-color: #060D15;
    
}

a.navbar-brand.fs-4{
    color: #FFF;
}

.bi-list::before{
    color: #FFF;
}
/* End NAVBAR Expand */

/* End Sidebar */


/* ----- Message page ----- */
.form-upload {
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-upload h4 {
    margin-bottom: 20px;
    font-size: 22px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.picture-message {
    width: 100%;
}

.h-100 {
    height: 100%;
}

#form-form {
    & .image-upload {
        position:relative;
        width: 90px;
        height: 90px;
        border: 1px solid #1C1C1C;
        border-radius: 100%;
        box-shadow: 1px 3px 12px #1C1C1C;
        overflow: hidden;
    }

    & .image-upload img {
        object-fit: cover;
        text-indent: -9999px; /* Hide the image if no source is set */
    }

    & .image-upload i {
        position: absolute;
        margin: 0 auto;
        font-size: 30px;
        color: #1C1C1C;
    }

    & #image-field {
        position: absolute;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        opacity: 0;
    } 
}

#buttonSubmit {
    background-color: #060D15;
    font-size: 18px;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 1px 3px 12px #1C1C1C;
    transition: all 0.3s;
}

#buttonSubmit:hover{
    color: #3EFFBE;
    transition: 1s;
} 
/* ----- END Message page----- */

/* Input*/
form .colorInput{
    border: 1px solid #B5B1A7;
}

form .heightInput{
    height: 32px;
}

form .colorInput:focus {
  border-color: #3EFFBE; /* Muda a cor para azul quando focado */
  outline: none; /* Opcional: remove o contorno padrão azul/preto */
}

input[type="radio"]:checked {
    background-color: #060D15;
}


@media(max-width:767px){
    #side_nav{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active{
        margin-left: 0;
    }
}



