/* Reporitory */
.form-repository h4 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 22px;
    display: flex;
    justify-content: center;
}

.repository{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item-repository {
    height: 400px;
    width: 250px;
    border: 2px solid #1C1C1C;
    border-radius: 10px;
}

.item-repository img {
    height: 50%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.item-repository h3 {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.item-repository p {
    padding: 2.5px;
    text-align: justify;
    margin: 5px auto;
}

.card-button button {
    font-size: 20px;
    background-color: #1C1C1C; 
    color:#FFF;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* End Repository */