*{
    font-family: Candara;
    font-weight: 400;
  }

/* Sidebar */
#side_nav{
    background: #060D15;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}

.content{
    background: #eee;
    min-height: 100vh;
    width: 100%;
}

.sidebar li a, .sidebar li a:hover{
    color: #3EFFBE;
    transition: 1s;
} 

.sidebar li a {
    color: #FFF;
}

.logo-profile {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 2px solid #FFF;
    margin: 20px 45px;
}

.icons{
    display: flex;
    justify-content: space-around;  
}

.bi-x-square{
    margin-left: 200px;
}

.bi-github, .bi-instagram, .bi-linkedin, .bi-discord{
    font-size: 30px;
}

/* NAVBAR Expand */
.navbar.navbar-expand-lg.navbar-light.bg-light{
    padding: 0;
}

.container-fluid{
    background-color: #060D15;
    
}

a.navbar-brand.fs-4{
    color: #FFF;
}

.bi-list::before{
    color: #FFF;
}
/* End NAVBAR Expand */

/* Reporitory */
.form-repository h4 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 22px;
    display: flex;
    justify-content: center;
}

.repository{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item-repository {
    border: 2px solid #1C1C1C;
    border-radius: 10px;
}

.item-repository img {
    height: 50%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.item-repository h3 {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.item-repository p {
    padding: 2.5px;
    text-align: justify;
    margin: 5px auto;
}

.card-button button {
    background-color: #060D15;
    font-size: 18px; 
    color:#FFF;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 3px 12px #1C1C1C;
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.card-button button:hover{
    color: #3EFFBE;
    transition: 1s;
} 
/* End Repository */

@media(max-width:767px){
    #side_nav{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active{
        margin-left: 0;
    }
}