*{
    font-family: Candara;
    font-weight: 400;
  }

/* Sidebar */
#side_nav{
    background: #060D15;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    /* transition: all 0.3s; */
    position: sticky;
    top: 0;
}

.content{
    background: #eee;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
} 

.logo-profile {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 2px solid #FFF;
    margin: 20px 45px;
}

h1::after{
    content: '|';
    color: #FFF;
    opacity: 1;
    animation: flashing 1s infinite;   
}

@keyframes flashing{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}



.sidebar li a, .sidebar li a:hover{
    color: #3EFFBE;
    transition: 1s;
}

.sidebar li a {
    color: #FFF;
}

.icons{
    display: flex;
    justify-content: space-around;  
}

.bi-x-square{
    margin-left: 200px;
}

.bi-github, .bi-instagram, .bi-linkedin, .bi-discord{
    font-size: 30px;
}

/* NAVBAR Expand */
.navbar.navbar-expand-lg.navbar-light.bg-light{
    padding: 0;
}

.container-fluid{
    background-color: #060D15;
    
}

a.navbar-brand.fs-4{
    color: #FFF;
}

.bi-list::before{
    color: #FFF;
}
/* End NAVBAR Expand */

/* End Sidebar */


/* Reporitory */

/* #repository {
    margin-left: 20px;
    margin-right: 20px;
} */

.form-repository h4 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 22px;
    display: flex;
    justify-content: center;
}

#card-item{
    border: 2px solid #1C1C1C;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
}

.card img {
    height: 260px;
    width: auto;
}

.card-title{
    margin-left: 10px;
}

.card-text {
    padding: 2.5px;
    text-align: justify;
    margin: 5px auto;
    padding: 0 10px;
}

.card-button {
    margin: 10px auto;
}

.card-button button {
    background-color: #060D15;
    font-size: 18px; 
    color:#FFF;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 3px 12px #1C1C1C; 
    padding: 8px;  
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.card-button button:hover{
    color: #3EFFBE;
    transition: 1s;
} 
/* End Repository */

@media(max-width:767px){
    #side_nav{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active{
        margin-left: 0;
    }
}