html{
    font-family: 'Carrois Gothic SC', 'Open sans';
}

a {
    transition: 1s;
}

/* Sidebar */

.logo-profile {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 2px solid #3EFFBE;
    margin-left: 90px;
}

#sidebar {
    position: fixed;
    height: 100%;
    width: 320px;
    background-color: #060D15;
    padding-top: 20px;
}

#sidebar h1 {
    color: #FFF;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#sidebar a {
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
}

#sidebar a:hover {
    color: #3EFFBE;
    transition: 0.8s;
}

#sidebar li {
    padding: 14px;
    text-align: center;
}

.icon-git {
    display: relative;
    margin-left: 134px;
    padding: 10px;
}

.icon-socialMedia {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}

/* END Sidebar */

/*Content home*/

.content, footer {
    position: absolute;
    left: 320px;
    width: calc(100% - 0px);
}

#session-welcome, #depositions {
    padding-left: 30px;
}

#session-welcome {
    display: flex;
}

#session-welcome h3 {
    margin-top: 40px;
    font-size: 22px;
    text-align: center;
}

#session-welcome h5 {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

.session-welcome-content {
    width: 60%;
    
}

.banner {
    width: 60%;    
    margin-top: 40px;
    margin-left: 30px;
}

.banner img {
    border-radius:10px;
    height: 300px;
    margin-left: 40px;
}

.about-text {
    margin-right: 20px;
    margin-left: 20px;
    text-align: justify;
    font-size: 14px;
}

.vertical {
    margin-top: 50px;
    border-left: 1px solid #1C1C1C;
    height: 280px;
}

/*Session Deposition*/

#depositions {
    height: 180px;
}

.title-deposition {
    margin-top: 20px;
    background-color: #1C1C1C;
    height: 40px;
    width: 97%;
}

.title-deposition h6 {
    font-size: 20px;
    color: #FFF;
    padding: 10px;
    text-align: center;
}

.card-deposition {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 20px;
    margin-left: 30px;
}

.deposition {
    width: 240px;
    height: 120px;
    border: 1px solid #1C1C1C;
    border-radius: 10px;
    text-align: justify;
    padding: 10px;
}

.deposition p {
    font-size: 14px;
}

.item-deposition {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.item-deposition p {
    margin-left: 30px;
    margin-top: 16px;
}

.item-deposition img {
    border-radius: 50%;
}

/*----------About Me----------*/
.banner-about {
    margin: 70px 50px 0px 60px;
}

.banner-about img {
    border-radius: 10px;
}

.session-about-content {
    text-align: justify;
}

.session-about-content h3 {
    margin-top: 50px;
    margin-left: 20px;
}

.about-text p {
    margin-top: 10px;
    margin-right: 50px;
}

#session-about {
    display: flex; 
}

.logos1, .logos2 {
    display: flex;
}

.logo1, .logo2, .logo3, .logo4, .logo5, .logo6, .logo7, .logo8 {
    border: 1px solid #1C1C1C;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    margin: 10px;
}

.session-technologies {
    display: flex;
    margin-left: 50px;
    margin-top: 40px;
}

.description-logo {
    width: 100%;
    margin: 10px 50px 0px 40px;
    height: 184px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-logo p {
    text-align: center;
}
/* -----End about me----- */

/* -----Message page----- */

.form-upload {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-upload h4 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 22px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.picture-message {
    width: 100%;
}

.h-100 {
    height: 100%;
}

#form-form {
    & .image-upload {
        position:relative;
        width: 100px;
        height: 100px;
        border: 1px solid #1C1C1C;
        border-radius: 100%;
        box-shadow: 1px 3px 12px #1C1C1C;
        overflow: hidden;
    }

    & .image-upload img {
        object-fit: cover;
    }

    & .image-upload i {
        position: absolute;
        margin: 0 auto;
        font-size: 20px;
        color: #1C1C1C;
    }

    & #image-field {
        position: absolute;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}

.form-message {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-box label {
    display: flex;
    margin-bottom: 4px;
    margin-top: 10px;
}

.row-box input {
    width: 80vh;
    border-radius: 5px;
    height: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #DCDCDC;
    border: 1px solid #1C1C1C;
}

.checkbox {
    display: flex;
    justify-content: space-between;
}

.check-box legend {
    margin-bottom: 4px;
    margin-top: 10px;
}
.check-box label {
    margin-left: -30px;
}

textarea {
    width: 78vh;
    height: 8vh;
    border-radius: 5px;
    background-color: #DCDCDC;
    border: 1px solid #1C1C1C;
    padding: 10px;
}

.section-button {
    margin-top: 20px;
}

.section-button button {
    font-size: 20px;
    background-color: #1C1C1C; 
    color:#FFF;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----- END Message page----- */


/* Reporitory */

.form-repository h4 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 22px;
    display: flex;
    justify-content: center;
}

.repository{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item-repository {
    height: 400px;
    width: 250px;
    border: 2px solid #1C1C1C;
    border-radius: 10px;
}

.item-repository img {
    height: 50%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.item-repository h3 {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.item-repository p {
    padding: 2.5px;
    text-align: justify;
    margin: 5px auto;
}

.card-button button {
    font-size: 20px;
    background-color: #1C1C1C; 
    color:#FFF;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Footer*/

footer {
    position: absolute;
    bottom: 0;
}

footer p {
    font-size: 14px;
    text-align: center;
    margin: 10px;
}

hr {
    width: 90%;
}

.logo-whatsapp {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}
